@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../font/_eot/KalamehWeb-Regular.eot") format("OpenType"), url("../font/_Woff/KalamehWeb-Regular.woff") format("woff"), url("../font/_Woff2/KalamehWeb-Regular.woff2") format("woff2");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 100;
  src: url("../font/_eot/KalamehWeb-Thin.eot") format("OpenType"), url("../font/_Woff/KalamehWeb-Thin.woff") format("woff"), url("../font/_Woff2/KalamehWeb-Thin.woff2") format("woff2");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../font/_eot/KalamehWeb-Bold.eot") format("OpenType"), url("../font/_Woff/KalamehWeb-Bold.woff") format("woff"), url("../font/_Woff2/KalamehWeb-Bold.woff2") format("woff2");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../font/_eot/KalamehWeb-Black.eot") format("OpenType"), url("../font/_Woff/KalamehWeb-Black.woff") format("woff"), url("../font/_Woff2/KalamehWeb-Black.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-orange: #FF3C00;
  --color-purple: #8212f1;
  --color-red: #bc0505;
  --color-dark: #07101d;
  --color-dark-2: #1a1a1aad;
}

html {
  overflow-x: hidden !important;
}

body {
  font-family: "kalameh";
  font-weight: normal;
  background-color: var(--color-dark);
  color: white;
  overflow-x: hidden;
  width: 100vw;
}

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.button-orange {
  background-color: var(--color-orange);
  color: white;
  transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
}

.button-orange:hover {
  background-color: #992400;
}

.text-orange {
  color: var(--color-orange);
}

.text_muted {
  color: rgba(255, 255, 255, 0.5019607843);
}

.fs26 {
  font-size: 26px;
}

.fs24 {
  font-size: 24px;
}

.title-section {
  display: flex;
  gap: 1rem;
}

.title-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270.13deg, #FF640D 6.95%, rgba(254, 76, 11, 0.975119) 19.3%, rgba(252, 6, 6, 0.903404) 43.99%, rgba(130, 18, 241, 0.81) 95.06%);
}

@media screen and (max-width: 567px) {
  .container {
    padding: 0 2rem;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}

.navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.main-navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}
.main-navbar li {
  font-size: 22px;
  padding: 0.7rem 0;
  transition: color 300ms 0;
  -webkit-transition: color 300ms 0;
  -moz-transition: color 300ms 0;
  -ms-transition: color 300ms 0;
  -o-transition: color 300ms 0;
}
.main-navbar li:hover {
  color: var(--color-orange);
}
.main-navbar .active {
  color: var(--color-orange);
  position: relative;
}
.main-navbar .active::before {
  content: "";
  width: 70%;
  height: 1px;
  background-color: orangered;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container-mobile {
  display: none;
}

.button-shopping {
  text-decoration: none;
}

.navbar-toggler {
  display: none;
  border: 0;
}
.navbar-toggler:focus, .navbar-toggler:active {
  border: 0;
  outline: 0;
  box-shadow: none;
}
.navbar-toggler svg {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.shape1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.shape2 {
  position: absolute;
  width: 600px;
  height: 600px;
  top: -15%;
  right: -10%;
  background: radial-gradient(rgba(130, 18, 241, 0.3019607843) 1%, #07101d 70%);
  filter: blur(100px);
  -webkit-filter: blur(100px);
  z-index: -1;
}

.offcanvas {
  background-color: var(--color-dark);
  color: white;
}

.offcanvas-title {
  font-weight: bold;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 1.5rem;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.offcanvas-menu li {
  display: block;
  padding: 1rem 0;
  font-size: 24px;
}
.offcanvas-menu li a {
  color: white;
  text-decoration: none;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
}
.offcanvas-menu li:hover a {
  color: var(--color-orange);
}

.offcanvas-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 200px;
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 992px) {
  .main-navbar {
    display: none;
  }
  .button-container {
    display: none;
  }
  .button-container-mobile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .shape1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .shape1 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  .shape2 {
    position: absolute;
    width: 300px;
    height: 300px;
    right: auto;
    left: 0%;
    top: -10%;
    background: radial-gradient(rgba(130, 18, 241, 0.3019607843) 1%, #07101d 70%);
    filter: blur(50px);
    -webkit-filter: blur(50px);
  }
}
.main-header {
  padding: 7rem 0;
}
.main-header p {
  margin: 2rem 0;
}
.main-header h1 {
  margin: 2rem 0;
}
.main-header .header-form {
  margin: 2rem 0;
}

.main-title {
  font-weight: 700;
  font-size: 4rem;
}

.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-description {
  font-size: 24px;
}

.search-form {
  position: relative;
  flex-grow: 2;
}
.search-form .search-input {
  padding: 0 3.5rem 0 1rem;
  background-color: transparent;
  border: 2px solid var(--color-orange);
  padding: 0.7rem 3.5rem 0.7rem 0.5rem;
  color: white;
  outline: none;
  font-size: 20px;
  display: block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 68px;
  width: 80%;
}
.search-form .search-input:focus {
  border: 2px solid #c12d00;
  outline: none;
  transition: border-color 300ms;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  -ms-transition: border-color 300ms;
  -o-transition: border-color 300ms;
}
.search-form svg {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}

.main-button {
  background: linear-gradient(90deg, #7011AD 0%, #BC0505 49.31%, #FC630F 100%);
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: inline-block;
  font-size: 24px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.header-img-section {
  position: relative;
}
.header-img-section .header-img {
  width: 150%;
  position: absolute;
  top: -20%;
  left: -5%;
  z-index: -1;
}
.header-img-section .header-path-1 {
  position: absolute;
  top: -10%;
  right: 0;
}
.header-img-section .header-path-2 {
  position: absolute;
  bottom: -10%;
  left: 6%;
}

.persons-container {
  display: flex;
  background-color: rgba(146, 146, 146, 0.1725490196);
  padding: 1rem;
  height: 85px;
  width: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: -15%;
  right: 10%;
}
.persons-container .persons-container-img {
  position: relative;
}
.persons-container .persons-container-img img {
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}
.persons-container .persons-container-img .person1 {
  position: absolute;
  right: 0%;
  z-index: 4;
}
.persons-container .persons-container-img .person2 {
  position: absolute;
  right: 20%;
  z-index: 3;
}
.persons-container .persons-container-img .person3 {
  position: absolute;
  right: 40%;
  z-index: 2;
}
.persons-container .persons-container-img .person4 {
  position: absolute;
  right: 60%;
  z-index: 1;
}
.persons-container .persons-container-txt {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
.persons-container .persons-container-txt p {
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
}

.header-md {
  display: none;
}

.author-description {
  font-size: 0.8rem;
  padding-top: 3rem;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .main-title {
    font-size: 3.5rem;
  }
  .header-description {
    font-size: 20px;
  }
  .persons-container {
    bottom: -5%;
  }
}
@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 3rem;
  }
  .header-description {
    font-size: 18px;
  }
  .main-button {
    font-size: 18px;
  }
  .search-form .search-input {
    width: 90%;
    font-size: 16px;
  }
  .header-img-section .header-img {
    width: 150%;
    position: absolute;
    top: -20%;
    left: 0%;
    z-index: -1;
  }
  .header-img-section .header-path-1 {
    position: absolute;
    top: -10%;
    right: 0;
  }
  .header-img-section .header-path-2 {
    position: absolute;
    bottom: 10%;
    left: 6%;
  }
  .persons-container {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    bottom: 10%;
    right: 0;
  }
}
@media screen and (max-width: 992px) {
  .header-lg {
    display: none;
  }
  .header-md {
    display: flex;
  }
  .header-description {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .header-description {
    text-align: center;
    font-size: 1rem;
  }
  .main-title {
    text-align: center;
    font-size: 2rem;
  }
  .header-img-section {
    position: relative;
    height: 500px;
  }
  .header-img-section .header-img {
    width: 80%;
    position: absolute;
    top: 0%;
    left: 60%;
    z-index: -1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .header-img-section .header-path-1 {
    position: absolute;
    top: 5%;
    right: 20%;
  }
  .header-img-section .header-path-2 {
    position: absolute;
    bottom: -10%;
    left: 10%;
  }
  .header-img-section .persons-container {
    position: absolute;
    bottom: 0%;
    right: 20%;
  }
}
@media screen and (max-width: 768px) {
  .header-description {
    text-align: center;
    font-size: 1rem;
  }
  .main-title {
    text-align: center;
    font-size: 1.5rem;
  }
  .header-img-section {
    position: relative;
    height: 400px;
  }
  .header-img-section .header-img {
    width: 80%;
    position: absolute;
    top: 0%;
    left: 60%;
    z-index: -1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .header-img-section .header-path-1 {
    position: absolute;
    top: 5%;
    right: 20%;
  }
  .header-img-section .header-path-2 {
    position: absolute;
    bottom: 0%;
    left: 10%;
  }
  .header-img-section .persons-container {
    position: absolute;
    bottom: 5%;
    right: 10%;
  }
}
@media screen and (max-width: 576px) {
  .header-img-section {
    position: relative;
    height: 300px;
  }
  .header-img-section .header-img {
    width: 80%;
    position: absolute;
    top: 0%;
    left: 60%;
    z-index: -1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  .header-img-section .header-path-1 {
    position: absolute;
    top: 0%;
    right: 15%;
  }
  .header-img-section .header-path-2 {
    position: absolute;
    bottom: 5%;
    left: 15%;
  }
  .header-img-section .persons-container {
    position: absolute;
    bottom: 6%;
    right: 5%;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
  }
}
.wallet-card-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-card {
  width: 184px;
  height: 188px;
  background-color: rgba(255, 255, 255, 0.0588235294);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
  position: relative;
}
.wallet-card img {
  margin-bottom: 1rem;
}
.wallet-card .flow-rect {
  width: 43.3px;
  height: 30px;
  background-color: #07101D;
  position: absolute;
  top: 90%;
  left: 86%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  overflow: hidden;
}

.wallet-1 {
  border-image: linear-gradient(315deg, var(--color-orange) 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-1 .flow-rect {
  border-top: 2px solid var(--color-orange);
}

.wallet-2 {
  border-image: linear-gradient(315deg, #00D1FF 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-2 .flow-rect {
  border-top: 2px solid #00D1FF;
}

.wallet-3 {
  border-image: linear-gradient(315deg, #760AFF 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-3 .flow-rect {
  border-top: 2px solid #760AFF;
}

.wallet-4 {
  border-image: linear-gradient(315deg, #FE007A 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-4 .flow-rect {
  border-top: 2px solid #FE007A;
}

.wallet-5 {
  border-image: linear-gradient(315deg, #FFBF1C 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-5 .flow-rect {
  border-top: 2px solid #FFBF1C;
}

.wallet-6 {
  border-image: linear-gradient(315deg, var(--color-orange) 0%, var(--color-dark) 100%) 1;
  border-width: 2px;
  border-style: solid;
}
.wallet-6 .flow-rect {
  border-top: 2px solid var(--color-orange);
}

@media screen and (max-width: 1200px) {
  .wallet-card, .wallet-card img, .wallet-card h4 {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
  .flow-rect {
    transform: scale(0.9) rotate(-45deg);
    -webkit-transform: scale(0.9) rotate(-45deg);
    -moz-transform: scale(0.9) rotate(-45deg);
    -ms-transform: scale(0.9) rotate(-45deg);
    -o-transform: scale(0.9) rotate(-45deg);
  }
}
@media screen and (max-width: 470px) {
  .wallet-card .flow-rect {
    display: none;
  }
}
.title-section-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-section-with-button .title-section-logo {
  gap: 1rem;
}

.seeall-button {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.bid-card {
  background: rgba(255, 255, 255, 0.1019607843);
  padding: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.bid-card .bid-card-header {
  position: relative;
}
.bid-card .bid-card-header img {
  width: 100%;
}
.bid-card .bid-card-header p, .bid-card .bid-card-header h3 {
  margin: 0;
}
.bid-card .bid-card-header pre {
  margin: 0;
}
.bid-card .bid-card-header .bid-card-header-overlay {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 100%;
  top: 0;
  gap: 1rem;
  padding: 0.5rem 0 0 0.5rem;
}
.bid-card .bid-card-header .bid-card-header-overlay .time-container {
  font-size: 18px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bid-card .bid-card-header .bid-card-header-overlay .like-button {
  width: 55px;
  height: 55px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(10px);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bid-card .bid-card-body {
  padding-top: 1rem;
}
.bid-card .bid-card-body .bid-title {
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
}
.bid-card .bid-card-body .bid-owner {
  font-size: 24px;
  text-align: left;
}
.bid-card .bid-card-body .last-req-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bid-card .bid-card-body .last-req-title {
  font-size: 22px;
  text-align: left;
}
.bid-card .bid-card-body .eth-icon {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}
.bid-card .bid-card-body .request-button {
  background: linear-gradient(270.13deg, #FF640D 10.42%, #BC0505 51.21%, rgba(130, 18, 241, 0.81) 99.55%);
  text-decoration: none;
  color: white;
  padding: 0.8rem 3rem;
  display: inline-block;
  font-weight: 700;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 1rem;
}

.bid-card-container {
  row-gap: 1rem;
  padding: 3rem 0;
}

@media screen and (max-width: 992px) {
  .bid-card-3 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .bid-card {
    background: rgba(255, 255, 255, 0.1019607843);
    padding: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .bid-card .bid-card-header {
    position: relative;
  }
  .bid-card .bid-card-header img {
    width: 100%;
  }
  .bid-card .bid-card-header p, .bid-card .bid-card-header h3 {
    margin: 0;
  }
  .bid-card .bid-card-header pre {
    margin: 0;
  }
  .bid-card .bid-card-header .bid-card-header-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    gap: 0.6rem;
    padding: 0;
    padding-top: 0.6rem;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .time-container {
    font-size: 18px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1019607843);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .like-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1019607843);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .like-button svg {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  .bid-card .bid-card-body .bid-title {
    font-size: 1.5rem;
  }
  .bid-card .bid-card-body .bid-owner {
    font-size: 1rem;
  }
  .bid-card .bid-card-body .last-req-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bid-card .bid-card-body .last-req-title {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  .bid-card .bid-card-body .last-req-para {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  .bid-card .bid-card-body .request-button {
    font-size: 0.8rem;
    padding: 0.7rem 2rem;
  }
}
@media screen and (max-width: 578px) {
  .bid-card {
    background: rgba(255, 255, 255, 0.1019607843);
    padding: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .bid-card .bid-card-header {
    position: relative;
  }
  .bid-card .bid-card-header img {
    width: 100%;
  }
  .bid-card .bid-card-header p, .bid-card .bid-card-header h3 {
    margin: 0;
  }
  .bid-card .bid-card-header pre {
    margin: 0;
  }
  .bid-card .bid-card-header .bid-card-header-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    gap: 0.6rem;
    padding: 0;
    padding-top: 0.6rem;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .time-container {
    font-size: 18px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1019607843);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .like-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1019607843);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bid-card .bid-card-header .bid-card-header-overlay .like-button svg {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
  }
  .bid-card .bid-card-body .bid-title {
    font-size: 1.5rem;
  }
  .bid-card .bid-card-body .bid-owner {
    font-size: 1rem;
  }
  .bid-card .bid-card-body .last-req-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .bid-card .bid-card-body .last-req-title {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  .bid-card .bid-card-body .last-req-para {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 0;
  }
  .bid-card .bid-card-body .request-button {
    font-size: 0.8rem;
    padding: 0.7rem 2rem;
  }
  .bid-card-3 {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
