.button{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.button-orange{
    background-color: var(--color-orange);
    color: white;
    transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
}

.button-orange:hover{
    background-color: darken($color: #FF3C00, $amount: 20);
}

.text-orange{
    color: var(--color-orange);
}

.text_muted{
    color: #FFFFFF80;
}

.fs26{
    font-size: 26px;
}

.fs24{
    font-size: 24px;
}
