@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: normal;
    src:
    url("../font-2/YekanBakh-Medium.f7360956.woff") format("woff");
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: bold;
    src:
    url("../font-2/YekanBakh-Bold.bbd877a3.woff") format("woff");
}

@font-face {
    font-family: kalameh;
    font-style: normal;
    font-weight: 900;
    src:
    url("../font-2/YekanBakh-Heavy.630c4fa4.woff") format("woff");
}