.newsletter{
    background: linear-gradient(90deg, #A50E86 0%, #D37506 100%);
    padding: 3rem 1rem;
    border-image: linear-gradient(90deg, #ff7ce5 0%, #ffb866 100%) 1;
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 6rem;

    h2{
        text-align: center;
        margin: 0;
        font-weight: 700;
    }

    p{
        text-align: center;
        margin: 2rem 0;
        font-weight: 500;
    }

    .newsletter-form{
        display: flex;
        justify-content: center;

        .email-input{
            padding: 1rem;
            width: 30%;
            text-align: right;
            border-radius: 0px 20px 20px 0;
            -webkit-border-radius: 0px 20px 20px 0;
            -moz-border-radius: 0px 20px 20px 0;
            -ms-border-radius: 0px 20px 20px 0;
            -o-border-radius: 0px 20px 20px 0;
            border: 0;
        
            &:focus{
                outline: 0;
                border: 0;
            }
        }

        .submit-input{
            padding: 1rem 2rem;
            border-radius: 20px 0 0 20px;
            -webkit-border-radius: 20px 0 0 20px;
            -moz-border-radius: 20px 0 0 20px;
            -ms-border-radius: 20px 0 0 20px;
            -o-border-radius: 20px 0 0 20px;
            border: 0;
            background: #07101D;
            color: white;
        }

    }
}

@media screen and (max-width:992px) {
    .newsletter{
        background: linear-gradient(90deg, #A50E86 0%, #D37506 90%);
        padding: 3rem 1rem;
        border: 10px solid #ffffff2d;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    
        h2{
            text-align: center;
            margin: 0;
            font-weight: 700;
        }
    
        p{
            text-align: center;
            margin: 2rem 0;
            font-weight: 500;
        }
    
        .newsletter-form{
            display: flex;
            justify-content: center;
    
            .email-input{
                padding: 1rem;
                width: 50%;
                text-align: right;
                border-radius: 0px 20px 20px 0;
                -webkit-border-radius: 0px 20px 20px 0;
                -moz-border-radius: 0px 20px 20px 0;
                -ms-border-radius: 0px 20px 20px 0;
                -o-border-radius: 0px 20px 20px 0;
                border: 0;
            
                &:focus{
                    outline: 0;
                    border: 0;
                }
            }
    
            .submit-input{
                padding: 1rem 2rem;
                border-radius: 20px 0 0 20px;
                -webkit-border-radius: 20px 0 0 20px;
                -moz-border-radius: 20px 0 0 20px;
                -ms-border-radius: 20px 0 0 20px;
                -o-border-radius: 20px 0 0 20px;
                border: 0;
                background: #07101D;
                color: white;
            }
    
        }
    }
}

@media screen and (max-width:578px) {
    .newsletter{
        background: linear-gradient(90deg, #A50E86 0%, #D37506 90%);
        padding: 3rem 1rem;
        
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    
        h2{
            text-align: center;
            margin: 0;
            font-weight: 700;
        }
    
        p{
            text-align: center;
            margin: 2rem 0;
            font-weight: 500;
        }
    
        .newsletter-form{
            display: flex;
            justify-content: center;
    
            .email-input{
                padding: 1rem;
                width: 100%;
                text-align: right;
                border-radius: 0px 20px 20px 0;
                -webkit-border-radius: 0px 20px 20px 0;
                -moz-border-radius: 0px 20px 20px 0;
                -ms-border-radius: 0px 20px 20px 0;
                -o-border-radius: 0px 20px 20px 0;
                border: 0;
            
                &:focus{
                    outline: 0;
                    border: 0;
                }
            }
    
            .submit-input{
                padding: 1rem 2rem;
                border-radius: 20px 0 0 20px;
                -webkit-border-radius: 20px 0 0 20px;
                -moz-border-radius: 20px 0 0 20px;
                -ms-border-radius: 20px 0 0 20px;
                -o-border-radius: 20px 0 0 20px;
                border: 0;
                background: #07101D;
                color: white;
            }
    
        }
    }
}