@import "./fonts";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-orange: #FF3C00;
    --color-purple: #8212f1;
    --color-red: #bc0505;
    --color-dark: #07101d;
    --color-dark-2: #1a1a1aad;
}

html{
    overflow-x: hidden !important;
}

body{
    font-family: "kalameh";
    font-weight: normal;
    background-color: var(--color-dark);
    color: white;
    overflow-x: hidden;
    width: 100vw;
}

@import "./base";
@import "./navbar";
@import "./header";
@import "./wallet";